// COLORS
$color-black: #000;
$color-white: #fff;

$color-grey-light: #aaa;

$color-purple-dark: #191828;
$color-purple-medium: #201E33;
$color-purple-light: #353250;

// $color-blue: #2B66A8;
$color-blue: #3e86d8;
$color-lilac: #5B5CAC;
$color-green: #62C462;

