@import "./../../styles/Global.scss";

.btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.2rem;

  @include respond(small) {
    font-size: 1rem;
  }

  @include respond(medium) {
    font-size: 0.9rem;
    padding: 0.8rem 1.6rem;
  }

  @include respond(large) {
    font-size: 0.8rem;
  }

  &White {
    width: fit-content;
    background-color: $color-white;
    color: $color-blue;
  }

  &Color {
    background-image: linear-gradient(to right, $color-blue, $color-lilac);
    color: $color-white;
    width: 100%;
    text-align: center;
  }

  &Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }
}
