.header {
    height: 70vh;
    background-image: url(./../assets/images/home-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    &__text-box {
        position: absolute;
        top: 25%;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.serving {
    background-color: $color-purple-dark;
    padding: 2rem 0;
}

.filter {
    background-color: $color-purple-medium;
}

.cards {
    background-color: $color-purple-medium;
    padding: 2rem 0;
}

.card-grid-container {
    display: grid;
    gap: 2rem;
}