// COLORS
$color-black: #000;
$color-white: #fff;

$color-grey-light: #aaa;

// $color-primary-dark: #191828;
// $color-primary-medium: #201E33;
// $color-primary-light: #353250;
$color-primary-dark: #181A20;
$color-primary-medium: #23272F;
$color-primary-light: #3e434e;

// $color-blue: #2B66A8;
$color-blue: #3e86d8;
$color-lilac: #5B5CAC;
$color-green: #62C462;

