.form {
    display: flex;
    gap: 1rem;

    @include respond(x-small) {
        gap: 3rem;
    }

    @include respond(small) {
        gap: 6rem;
    }

    &__field {
        border: none;
    }

    &__label {
        color: $color-grey-light;
        font-size: 1.4rem;
        margin-right: .5rem;

        @include respond(small) {
            font-size: 1.3rem;
        }


    }

    &__input {
        border: none;
        background-color: $color-primary-medium;
        color: $color-white;

        @include respond(large) {
            font-size: 1.1rem;
        }
    }
}