.form {
    display: flex;
    gap: 1rem;

    &__field {
        border: none;
    }

    &__label {
        color: $color-grey-light;
        font-size: 1.4rem;
        margin-right: .5rem;
    }

    &__input {
        border: none;
        background-color: $color-primary-medium;
        color: $color-white;
    }
}