.menu-filter {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;

    // hide scrollbar
    // ::-webkit-scrollbar {
    //     display: none;
    // }
    // -ms-overflow-style: none;
    // scrollbar-width: none;
}

.menu-btn {
    background-color: transparent;
    border: none;
    color: $color-grey-light;
    padding: 2rem 0;
    white-space: nowrap;

    &:active {
        color: $color-white;
    }

    @include respond(x-small) {
        font-size: 1.3rem;
    }

    @include respond(small) {
        font-size: 1.2rem;
    }

    @include respond(small) {
        font-size: 1.1rem;

        &:hover {
            color: $color-white;
            cursor: pointer;
        }
    }
}