.navbar {
    padding: 1.5rem 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__items {
        display: none;

        &-show {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100vw;
            z-index: 1;
            background-color: rgba($color-primary-dark, .9);
            padding: 2rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }
    }

    &__link {
        color: $color-white;
        font-size: 1.6rem;
    }

    &__logo {
        font-weight: 700;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $color-white;
    }

    &--solid-background {
        background-color: $color-primary-dark;
    }
}

.hamburger {
    border: 1px solid $color-white;
    border-radius: 3px;
    width: 3.5rem;
    height: 3rem;
    padding: .3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    div {
        height: 2px;
        width: 70%;
        background-color: $color-white;
    }
}