.footer {
    background-color: $color-purple-dark;
    padding: 2rem 0;
    
    &__text {
        color: $color-white;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: center;
    }
}

.author,
.author:link,
.author:visited {
    font-size: inherit;
    color: inherit;
    text-decoration: underline;
}